@font-face {
  font-family: 'Circular std';
  src: local('Circular std'), url(./assets/fonts/circular-std-medium-500.ttf) format('truetype');
}
body {
  margin: 0;
  font-family: Circular std;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

