@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, #c084fc, #7e22ce);
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease;
  }
  .animated-underline:hover,
  .animated-underline:focus {
    background-size: 0 2px, 100% 2px;
  }
  /* scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: rgba(65,71,92,1);
}

::-webkit-scrollbar-thumb {
  background: rgba(37,37,46,1);
  border-radius: 10px;
  border: 3px solid rgba(65,71,92,1);
}
::-webkit-scrollbar-corner{
  background: rgba(65,71,92,1);
}

::-webkit-scrollbar-thumb:hover {
  background: #9a21b3;
}
}
 
@layer components {
  .card-button {
    @apply bg-primary-500 shadow-2xl md:w-72 md:h-40 rounded-lg p-2 w-60 justify-self-center cursor-pointer hover:shadow-xl hover:shadow-indigo-500/40 hover:bg-primary-600 transition-all ease-out duration-150 hover:scale-105 active:scale-110 select-none mt-8;
  }
  
}
